body{
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}
footer{
    text-align: center;
    margin-top: 20px;
    background-color: #0d6efd;
    color: black;
    width: 100%;
}